.header {
	padding: 40px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	&__list {
		display: flex;
	}
	&__list-item + .menu__list-item {
		padding-left: 35px;
	}
	&__list-link {
		position: relative;
		color: $title;
		padding: 0 2px 1px;
		transition: all .3s;
		@extend %roboto-700;
		&::before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			height: 1px;
			width: 0;
			background-color: $accent;
			opacity: 0;
			transition: all .3s;
		}
		&:hover {
			color: $accent;
			&::before {
				opacity: 1;
				width: 100%;
			}
		}
	}
	&__list-link--active {
		color: $accent;
		&::before {
			opacity: 1;
			width: 100%;
		}
	}
}

.user-nav {
	display: flex;
	&__link {
		position: relative;
	}
	&__link + .user-nav__link {
		padding-left: 25px;
	}
	&__num {
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $accent;
		top: -9px;
		right: -14px;
		font-size: 12px;
		color: #fff;
		text-align: center;
		line-height: 20px;
	}
}